# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: publish image

on:
  push:
    branches:
      - "!*"
    tags:
      - "*"

jobs:

  # alpine-publish:
  #   name: publish alpine image
  #   uses: ThoughtWorks-DPS/gha-tools-action/.github/workflows/publish-container.yaml@main
  #   secrets:
  #     OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
  #   with:
  #     image: twdps/gha-container-base-image
  #     sign-image: true
  #     sbom: true
  #     release-notes: true
  #     release-message: New release Alpine ThoughtWorks-DPS/gha-container-base-image
  #     before-publish: true

  ubuntu-22-publish:
    name: publish ubuntu.22 image
    uses: ThoughtWorks-DPS/gha-tools-action/.github/workflows/publish-container.yaml@main
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    with:
      organization: twdps
      image: gha-container-base-image
      tag-annotation: 22.04-
      release-tag: 22.04
      sign-image: true
      sbom: true
      release-notes: true
      release-body-path: release-notes.md
      release-message: New release Ubuntu 22.04 ThoughtWorks-DPS/gha-container-base-image
      before-publish: gha-container-base-image_dev.${GITHUB_SHA:0:7}_docker_build.log

  # ubuntu-24-publish:
  #   name: publish ubuntu.24 image
  #   uses: ThoughtWorks-DPS/gha-tools-action/.github/workflows/publish-container.yaml@main
  #   secrets:
  #     OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
  #   with:
  #     image: twdps/gha-container-base-image
  #     tag-annotation: ubuntu-24.
  #     sign-image: true
  #     sbom: true
  #     release-notes: true
  #     release-message: New release Ubuntu.2404 ThoughtWorks-DPS/gha-container-base-image
  #     before-publish: true